/*body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}*/

/*root and colour pallette*/
:root {
  --lightgreen: #aafcb8;
  --rose: #ca8b7d;
  --teal: #00a3a3;
  --green: #003c3c;
  --raisin: #272635;
  --white: #F2F3F7; 
  --bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --lightteal: #ebffff;
  --lightlightgreen:#ebfeee;

}

/* BOOTSTRAP*/
*,::after,::before{box-sizing:border-box}@media (prefers-reduced-motion:no-preference){:root{scroll-behavior:smooth}}body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}hr{margin:1rem 0;color:inherit;background-color:currentColor;border:0;opacity:.25}hr:not([size]){height:1px}.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2}.h1,h1{font-size:calc(1.375rem + 1.5vw)}@media (min-width:1200px){.h1,h1{font-size:2.5rem}}.h2,h2{font-size:calc(1.325rem + .9vw)}@media (min-width:1200px){.h2,h2{font-size:2rem}}.h3,h3{font-size:calc(1.3rem + .6vw)}@media (min-width:1200px){.h3,h3{font-size:1.75rem}}.h4,h4{font-size:calc(1.275rem + .3vw)}@media (min-width:1200px){.h4,h4{font-size:1.5rem}}.h5,h5{font-size:1.25rem}.h6,h6{font-size:1rem}p{margin-top:0;margin-bottom:1rem}abbr[data-bs-original-title],abbr[title]{-webkit-text-decoration:underline dotted;text-decoration:underline dotted;cursor:help;-webkit-text-decoration-skip-ink:none;text-decoration-skip-ink:none}address{margin-bottom:1rem;font-style:normal;line-height:inherit}ol,ul{padding-left:2rem}dl,ol,ul{margin-top:0;margin-bottom:1rem}ol ol,ol ul,ul ol,ul ul{margin-bottom:0}dt{font-weight:700}dd{margin-bottom:.5rem;margin-left:0}blockquote{margin:0 0 1rem}b,strong{font-weight:bolder}.small,small{font-size:.875em}.mark,mark{padding:.2em;background-color:#fcf8e3}sub,sup{position:relative;font-size:.75em;line-height:0;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}a{color:#0d6efd;}a:hover{color:#0a58ca}a:not([href]):not([class]),a:not([href]):not([class]):hover{color:inherit;text-decoration:none}code,kbd,pre,samp{font-family:var(--bs-font-monospace);font-size:1em;direction:ltr;unicode-bidi:bidi-override}pre{display:block;margin-top:0;margin-bottom:1rem;overflow:auto;font-size:.875em}pre code{font-size:inherit;color:inherit;word-break:normal}code{font-size:.875em;color:#d63384;word-wrap:break-word}a>code{color:inherit}kbd{padding:.2rem .4rem;font-size:.875em;color:#fff;background-color:#212529;border-radius:.2rem}kbd kbd{padding:0;font-size:1em;font-weight:700}figure{margin:0 0 1rem}img,svg{vertical-align:middle}table{caption-side:bottom;border-collapse:collapse}caption{padding-top:.5rem;padding-bottom:.5rem;color:#6c757d;text-align:left}th{text-align:inherit;text-align:-webkit-match-parent}tbody,td,tfoot,th,thead,tr{border-color:inherit;border-style:solid;border-width:0}label{display:inline-block}button{border-radius:0}button:focus:not(:focus-visible){outline:0}button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,select{text-transform:none}[role=button]{cursor:pointer}select{word-wrap:normal}select:disabled{opacity:1}[list]::-webkit-calendar-picker-indicator{display:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer}::-moz-focus-inner{padding:0;border-style:none}textarea{resize:vertical}fieldset{min-width:0;padding:0;margin:0;border:0}legend{float:left;width:100%;padding:0;margin-bottom:.5rem;font-size:calc(1.275rem + .3vw);line-height:inherit}@media (min-width:1200px){legend{font-size:1.5rem}}legend+*{clear:left}::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-fields-wrapper,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-text,::-webkit-datetime-edit-year-field{padding:0}::-webkit-inner-spin-button{height:auto}[type=search]{outline-offset:-2px;-webkit-appearance:textfield}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-color-swatch-wrapper{padding:0}::file-selector-button{font:inherit}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}output{display:inline-block}iframe{border:0}summary{display:list-item;cursor:pointer}progress{vertical-align:baseline}[hidden]{display:none!important}.lead{font-size:1.25rem;font-weight:300}.display-1{font-size:calc(1.625rem + 4.5vw);font-weight:300;line-height:1.2}@media (min-width:1200px){.display-1{font-size:5rem}}.display-2{font-size:calc(1.575rem + 3.9vw);font-weight:300;line-height:1.2}@media (min-width:1200px){.display-2{font-size:4.5rem}}.display-3{font-size:calc(1.525rem + 3.3vw);font-weight:300;line-height:1.2}@media (min-width:1200px){.display-3{font-size:4rem}}.display-4{font-size:calc(1.475rem + 2.7vw);font-weight:300;line-height:1.2}@media (min-width:1200px){.display-4{font-size:3.5rem}}.display-5{font-size:calc(1.425rem + 2.1vw);font-weight:300;line-height:1.2}@media (min-width:1200px){.display-5{font-size:3rem}}.display-6{font-size:calc(1.375rem + 1.5vw);font-weight:300;line-height:1.2}@media (min-width:1200px){.display-6{font-size:2.5rem}}.list-unstyled{padding-left:0;list-style:none}.list-inline{padding-left:0;list-style:none}.list-inline-item{display:inline-block}.list-inline-item:not(:last-child){margin-right:.5rem}.initialism{font-size:.875em;text-transform:uppercase}.blockquote{margin-bottom:1rem;font-size:1.25rem}.blockquote>:last-child{margin-bottom:0}.blockquote-footer{margin-top:-1rem;margin-bottom:1rem;font-size:.875em;color:#6c757d}.blockquote-footer::before{content:"— "}.img-fluid{max-width:100%;height:auto}.img-thumbnail{padding:.25rem;background-color:#fff;border:1px solid #dee2e6;border-radius:.25rem;max-width:100%;height:auto}.figure{display:inline-block}.figure-img{margin-bottom:.5rem;line-height:1}.figure-caption{font-size:.875em;color:#6c757d}
 
 .container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{
    width:100%;
    /*
    padding-right:var(--bs-gutter-x,.75rem);
    padding-left:var(--bs-gutter-x,.75rem); 
    */
    margin-right:auto;
    margin-left:auto
}

body{
  margin:0;
  font-family:var(--bs-font-sans-serif);
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  color:var(--raisin);
  /*background-image:linear-gradient(var(--white), var(--teal));*/
  background-color:var(--lightteal);
  -webkit-text-size-adjust:100%;
  -webkit-tap-highlight-color:transparent
}

a{
  color:var(--green)
}
a:hover{
  color:var(--lightgreen)
}

.navbar {
  background-color: var(--raisin);
  display:flex;
  border-radius: 2px;
  width:100%;
  font-size: 1.1rem;
  min-height: 15%;
  text-decoration: none;
}

.navbar a {
  color: var(--white);
  display: inline-block;
  font-size: 1.1rem;
  text-align:justify;
  text-decoration:none;
  padding:2%
}

.navbar a:hover {
   color: var(--lightgreen);
   text-decoration: underline;
}
  



/* Swirly title text*/
.animated-title {
  font-size: 6vw; 
  color: /*var(--teal)-->*/var(--raisin);
  position: relative;
  display: inline-block;
  text-align:center;
}

.animated-title::before {
margin-left:auto;
}

.animated-title::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: var(--rose);
  transform-origin: right;
  animation: underline 1s linear ; /* Continuous animation */
  /* animation-delay:2s; */
}

@keyframes underline {
  0% {
      transform: scaleX(0);
      transform-origin: left;
  }
  100% {
      transform: scaleX(1);
      transform-origin: left;
  }
}


/*Fonts*/
@font-face {
  font-family:DyslexiaFont;
  src: url(https://static.igem.wiki/teams/4694/wiki/fonts/opendyslexic-regular.otf);
}
@font-face {
  font-family:DyslexiaFont;
  src: url(https://static.igem.wiki/teams/4694/wiki/fonts/opendyslexic-bold.otf);
  font-weight: bold;
}

@font-face {
  font-family:DyslexiaFont;
  src: url(https://static.igem.wiki/teams/4694/wiki/fonts/opendyslexic-italic.otf);
  font-style: italic;
}

@font-face {
  font-family:DyslexiaFont;
  src: url(https://static.igem.wiki/teams/4694/wiki/fonts/opendyslexic-bolditalic.otf);
  font-style: italic;
  font-weight: bold;
}


/*animated papayas*/
.wrapper2{
  /*padding:10%;*/
  overflow:hidden;
}

.wrapper2 span {
  position: fixed;
  /* height: 100%;
  width: 100%; */
  z-index: -999;
  /*background-color: #18191f;*/
  /*box-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;*/
  animation: animate 10s linear infinite;
  bottom:0px;
}

.wrapper2 span:nth-child(1) {
  left: 0%;
  animation-delay: 1s;
  width: 60px;
  height: 60px;
  animation: animate2 8s linear infinite;
}
.wrapper2 span:nth-child(2) {
  left: 20%;
  animation-delay: 3s;
  animation-delay: 0.3s;
  width: 60px;
  height: 60px;
  animation: animate 9s linear infinite;
}
.wrapper2 span:nth-child(3) {
  left: 40%;
  animation-delay: 0s;
  width: 60px;
  height: 60px;
  animation: animate2 8s linear infinite;
}

.wrapper2 span:nth-child(4) {
  left: 60%;
  animation-delay: 5s;
  width: 60px;
  height: 60px;
  animation: animate 10s linear infinite;
}

.wrapper2 span:nth-child(5) {
  left: 80%;
  animation-delay: 4s;
  width: 60px;
  height: 60px;
  animation: animate2 9s linear infinite;
}

/*.wrapper2 span:nth-child(6) {
  left: 90%;
  animation-delay: 4s;
  width: 60px;
  height: 60px;
  animation: animate2 9s linear infinite;
}*/

.wrapper2 span:nth-child(6) {
  left: 100%;
  animation-delay: 4s;
  width: 60px;
  height: 60px;
  animation: animate2 9s linear infinite;
}

/*.wrapper2 span:nth-child(8) {
  left: 10%;
  animation-delay: 4s;
  width: 60px;
  height: 60px;
  animation: animate2 9s linear infinite;
}

.wrapper2 span:nth-child(9) {
  left: 30%;
  animation-delay: 4s;
  width: 60px;
  height: 60px;
  animation: animate2 9s linear infinite;
}

.wrapper2 span:nth-child(10) {
  left: 50%;
  animation-delay: 4s;
  width: 60px;
  height: 60px;
  animation: animate2 9s linear infinite;
}
*/


.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content h2 b {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  font-family: montserrat;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 12px;
}
@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: .7;
  }
  100% {
    transform: translateY(-600px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: .7;
  }
  100% {
    transform: translateY(-500px) rotate(-360deg);
    /*transform: translateX(randomInt(0, 100));*/
    opacity: 0;
  }
}
/*anything that wants to animate must be in div class= wrapper2
then also be in span
/*end of 'animated papayas*/


/*TEXT BOXES*/
.teal-glow{
  /*box-shadow: #A0CFD3 0px 10px 36px 0px, #A0CFD3 0px 0px 0px 1px;*/
  box-shadow:  var(--teal) 0px 2px 8px 0px;
  padding: 5%;
  margin:2%;
  /* background:#F2F3F7; */
  background:var(--white);
}

.rose-glow{
  /*box-shadow: #A0CFD3 0px 10px 36px 0px, #A0CFD3 0px 0px 0px 1px;*/
  box-shadow:  var(--rose) 0px 2px 8px 0px;
  padding: 5%;
  margin:2%;
  /* background:#F2F3F7; */
  background:var(--white);
}

.lgreen-glow{
  /*box-shadow: #A0CFD3 0px 10px 36px 0px, #A0CFD3 0px 0px 0px 1px;*/
  box-shadow:  var(--lightgreen) 0px 2px 8px 0px;
  padding: 5%;
  margin:2%;
  /* background:#F2F3F7; */
  background:var(--white);
}

.green-glow{
  /*box-shadow: #A0CFD3 0px 10px 36px 0px, #A0CFD3 0px 0px 0px 1px;*/
  box-shadow:  var(--green) 0px 2px 8px 0px;
  padding: 5%;
  margin:2%;
  /* background:#F2F3F7; */
  background:var(--white);
}

.raisin-glow{
  /*box-shadow: #A0CFD3 0px 10px 36px 0px, #A0CFD3 0px 0px 0px 1px;*/
  box-shadow:  var(--raisin) 0px 2px 8px 0px;
  padding: 5%;
  margin:2%;
  /* background:#F2F3F7; */
  background:var(--white);
}


.column13 {
  width:33%;
  min-width: 200px;
  min-height: 200px;
  padding: 20px;
  text-align:center;
}


.column12 {
  width:49%;
  min-width: 200px;
  min-height: 200px;
  padding: 20px;
  text-align:center;
}

.row {
  display:flex;
  justify-content:center;
  margin:auto;
  flex-wrap: wrap;
  padding: 0 4px;
}

/*code for dropdown sections*/
 
    .collapsible {
  /*background-image:linear-gradient(var(--pink), var(--blue));*/
      background-color:var(--green);
      color: var(--white);
      cursor: pointer;
      padding: 40px;
      width: 90%;
      border: var(--raisin),2px;
      text-align: left;
      outline: none;
      font-size: 18px;}

    .content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
      
      /*background-color: #f1f1f1;*/
      font: Arial, Helvetica, sans-serif;
      
    }

    .active, .collapsible:hover {
      /*background-image:linear-gradient(var(--yellow), var(--pink));*/
      background-color:var(--lightgreen);
      color: var(--raisin);
}